# Unreal generated folders
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vs/
.vscode/

# Compiled source
*.pdb

# Cache/IDE
*.opensdf
*.sdf
*.sln
*.suo
*.VC.db
*.VC.opendb

# OS files
.DS_Store
Thumbs.db